<div class="container-fluid text-center">
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <!-- Navbar content -->
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="bienvenido">Inicio</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="crear-cliente">Crear cliente</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="crear-bodega">Crear bodegas o puertos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="realizar-entrega">Realizar entrega</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="consulta-datos">Consultar Datos</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>
